<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Timetracker</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div id="main">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Description</th>
                                <th>Start</th>
                                <th>End</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(row, key) in rows" :key="key" @change="updateRow(key)">
                                <td><input class="form-control" type="text" v-model="row.description" /></td>
                                <td><input class="form-control" type="time" v-model="row.start" /></td>
                                <td><input class="form-control" type="time" v-model="row.end" /></td>
                                <td>{{ format(row.total) }}</td>
                                <td>
                                    <button class="btn btn-danger" @click="deleteRow(key)">Delete</button>
                                </td>
                            </tr>
                            <tr>
                                <td><input class="form-control" type="text" v-model="description" /></td>
                                <td><input class="form-control" type="time" v-model="start" /></td>
                                <td><input class="form-control" type="time" v-model="end" /></td>
                                <td></td>
                                <td>
                                    <button class="btn btn-success" @click="addRow()">Add</button>
                                    <button class="btn btn-danger" v-if="Object.keys(rows).length" @click="clear()">Clear All</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-3">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Description</th>
                                <th>Rounded Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(total, description) in totals">
                                <td>{{ description }}</td>
                                <td>{{ format(roundTime(total)) }}</td>
                            </tr>
                        </tbody>
                        <tfoot class="font-weight-bold">
                            <tr>
                                <td>Total</td>
                                <td>{{ totalTime }}</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script> 
        const main = new Vue({
            el: '#main',
            data: {
                rows: {},
                totals: {},
                description: '',
                start: '',
                end: ''
            },
            mounted() {
                this.rows = JSON.parse(window.localStorage.getItem('rows')) || {};
                this.totals = JSON.parse(window.localStorage.getItem('totals')) || {};
            },
            methods: {
                addRow() {
                    if(this.valid(this)) {
                        const total = this.total(this.start, this.end);
                        const key = Date.now();
                        
                        Vue.set(this.rows, `row-${key}`, {
                            description: this.description,
                            start: this.start,
                            end: this.end,
                            total: total
                        });

                        this.calculateTotals();

                        this.description = '';
                        this.start = '';
                        this.end = '';

                        this.save();
                    }
                },
                deleteRow(id) {
                    Vue.delete(this.rows, id);

                    this.calculateTotals();

                    this.save();
                },
                updateRow(key) {
                    if(this.valid(this.rows[key])) {
                        this.rows[key].total = this.total(this.rows[key].start, this.rows[key].end);

                        this.calculateTotals();
                                        
                        this.save();
                    }
                },
                calculateTotals() {
                    let totals = {};
                    for(let [key, row] of Object.entries(this.rows)) {
                        if(!totals[row.description]) {
                            totals[row.description] = row.total;
                        } else {
                            totals[row.description] += row.total;
                        }
                    };

                    this.totals = totals;
                },
                total(start, end) {
                    const startTime = start.split(':');
                    const endTime = end.split(':');
                    const startTotal = parseInt(startTime[0] * 60) + parseInt(startTime[1]);
                    const endTotal = parseInt(endTime[0]) * 60 + parseInt(endTime[1]);
                    
                    return  endTotal - startTotal;
                },
                format(time) {
                    return `${Math.floor(time / 60).toString().padStart(2, 0)}:${Math.abs(time % 60).toString().padStart(2, 0)}`;
                },
                valid(row) {
                    if(!row.description || !row.start || !row.end) {
                        alert('Provide description, start and end times.');
                        return 0;
                    }

                    return 1;
                },
                clear() {
                    if(confirm('Are you sure?')) {
                        this.rows = {};
                        this.totals = {};

                        this.save();
                    }
                },
                save() {
                    window.localStorage.setItem('rows', JSON.stringify(this.rows));
                    window.localStorage.setItem('totals', JSON.stringify(this.totals));
                },
                roundTime(time) {
                    return 15 * Math.round(time / 15);
                }
            },
            computed: {
                totalTime() {
                    const totalTime = Object.values(this.totals).reduce((a, b) => a + this.roundTime(b), 0);

                    return this.format(totalTime);
                },
            }
        });
    </script>
</body>
</html>