<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Timetracker</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="main">
        <table>
            <thead>
                <tr>
                    <td>Description</td>
                    <td>Start</td>
                    <td>End</td>
                    <td>Total</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(row, key) in rows" :key="key">
                    <td>{{ row.description }}</td>
                    <td>{{ row.start }}</td>
                    <td>{{ row.end }}</td>
                    <td>{{ row.total }}</td>
                    <td><button @click="deleteRow(key)">Delete</button></td>
                </tr>
                <tr>
                    <td><input type="text" v-model="description" /></td>
                    <td><input type="time" v-model="start" /></td>
                    <td><input type="time" v-model="end" /></td>
                    <td><button @click="addRow()">Add</button></td>
                </tr>
            </tbody>
        </table>
        <table>
            <thead>
                <tr>
                    <td>Description</td>
                    <td>Total</td>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(total, description) in totals">
                    <td>{{ description }}</td>
                    <td>{{ format(total) }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <script> 
        const main = new Vue({
            el: '#main',
            data: {
                rows: {'row-0': {description: '', start: '12:00', end: '14:22'}},
                totals: {},
                description: '',
                start: '',
                end: '',
                index: 1
            },
            methods: {
                addRow() {
                    if(this.description && this.start && this.end) {
                        const total = this.total(this.start, this.end);
                        
                        this.rows[`row-${this.index}`] = {
                            description: this.description,
                            start: this.start,
                            end: this.end,
                            total: this.format(total)
                        };

                        if(!this.totals[this.description]) {
                            this.totals[this.description] = total;
                        } else {
                            this.totals[this.description] += total;
                        }

                        this.description = '';
                        this.start = '';
                        this.end = '';

                        this.index++;
                    }
                },
                deleteRow(id) {
                    Vue.delete(this.rows, id);
                },
                total(start, end) {
                    const startTime = start.split(':');
                    const endTime = end.split(':');
                    const startTotal = parseInt(startTime[0] * 60) + parseInt(startTime[1]);
                    const endTotal = parseInt(endTime[0]) * 60 + parseInt(endTime[1]);
                    
                    return  endTotal - startTotal;
                },
                format(time) {
                    return `${Math.round(time / 60)}:${time % 60}`;
                }
            },
        });
    </script>
</body>
</html>